@{
    ViewBag.Title = "Learn More";
}


<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title About this template</h2>
        <p>

        </p>
        <h3>DI Injection</h3>
        <p>
            StrucureMap is used to inject the dependencies to the Controllers
        </p>

        <h3>T4MVC.tt</h3>
        <p>
            This T4 template generates strongly-typed extensions for use within the Code and also Razor Views
        </p>

        <h3>MvcSiteMap</h3>
        <p>
            MvcSiteMap provider for xml based menu generation from xml or db
        </p>

        <h3>Custom Authorization Extension for NT</h3>
        <p>
            MvcAuthorization attribute
        </p>

        <h3>Global Error Handling and Logging</h3>
        <p>
            Commong.Logging and Log4Net is utilized
        </p>

    </div>

</div>